{% extends 'base.html'  %}


{% block content %}
<form method="post" class="container w-50">
    {{ form.hidden_tag() }}
    <h2 class="mx-auto">Login</h2>

    <div class="mb-3 row">
        {{ form.username.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.username(class="form-control")}}    
        </div>
    </div>
    
    <div class="mb-3 row">
        {{ form.password.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.password(class="form-control")}}   
        </div>
    </div>
    
    <div class="col-12">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}