{% extends 'base.html' %}

{% block content %}



<div  class="container">
    {% if  not current_user.is_authenticated %}
    <button><a href="{{ url_for('login') }} ">Log in </a></button>
    <button><a href="{{ url_for('register') }} ">Sign up</a></button>
    {% endif %}

    {% if current_user.is_authenticated %}
    <button><a href="{{ url_for('logout') }}">Log out</a></button>
    <button><a href="{{ url_for('profile') }}">Profile</a></button>
    {% endif %}
    <br>
    <div>
        <h2>All categories:</h2>
        {% for category in categories %}
        <p><a href="{{ url_for('category_polls', category_id=category.id)}}"> {{ category.name }}</a></p>
        {% endfor %}
    </div>

    <div>
        <h2>All polls:</h2>
        {% for poll in polls %}
        <p><a href="{{ url_for('options_list', poll_id=poll.id) }}">{{ poll.topic }}</a></p>
        {% endfor %}
    </div>

    <a href="{{ url_for('add_poll') }}">Add poll</a>
</div>
{% endblock %}