{% extends 'base.html' %}

{% block content %}
    <h2>Profile: {{ current_user.username }}</h2>

    {% for post in posts %}
    <div class="card border-primary mb-3 " style="width: 24rem; background-color: #e3f2fd;">
        <div class="card-body">
          <h5 class="card-title">{{ post.title}}</h5>
          <p class="card-text">{{ post.content}}</p>
          <a href="#" class="btn btn-primary">Detail</a>
          <a href="{{ url_for('update_post', post_id=post.id)}}" class="btn btn-primary">Update</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}