body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

.wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
    margin: 0px 100px 0px 100px;
    padding-bottom: 20px;
    height: 100%;
}

.navbar {
    margin: 20px 0px;
    padding: 20px;
    display: flex;
}

.container-fluid {
    justify-content: space-between;
}

.card {
    transition: all 0.5s ease-in 0s;
}

.card:hover {
    background-color: aquamarine;
}

.btn-outline-success {
    color: aquamarine;
    border-color: aquamarine;
}

.d-flex {
    margin-right: 12px;
}

.reg-btn {
    color: #FFF;
    text-decoration: none;
}

.error-items {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.form {
    text-align: center;
}

.add_sth {
    /* display: flex; */
    margin-bottom: 12px;
    min-width: 150px;
    max-width: 30%;
}
