{% extends 'base.html' %}

{% block content %}

<form action="/login" method="post" class="container">

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input type="text" class="form-control" name="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>


    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        <input type="text" class="form-control" name="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <input type="submit" value="Send">
</form>


{% endblock %}