{% extends 'base.html' %}

{% block content %}

<div class="register container">

    <form action="/register_handler" method="post" autocomplete="off">
        <h1>Register</h1>
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </p>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Зареєструватися" class="btn btn-primary">
    </form>

</div>

{% endblock %}